.btn{
    width: 100%;
    margin-bottom: 10px;
}
.BotaoFinalizarPedido{
    width: 90%;
    margin: auto;
}
#textoCadrastese{
    cursor: pointer;
    color: blue;
}
#textoCadrastese:hover{
  color: orangered;
}
.text_cadastrar{
    margin-left: 20px;
}
