
.container{
  width: 80%;
  margin: auto;
  
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.search input{
  width: 60%;
  height: 30px;
  font-size: 20px;
  padding: 5px 15px;
  border: none;
  outline: none;
  border-bottom: black solid 1px;
}
.search img{
  width: 25px;
  height: 24px;
  margin-left: -28px;
  border-radius: 12px;
  cursor: pointer;
}
.search button:hover{
  background-color: rgb(146, 146, 255);
}
.produto{
  box-shadow: black 1px 1px 4px;
  height: 390px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}
.produto img{
  height: 270px;
  
}

section{
  display: flex;
  margin-top: 80px;
  
}
.nome_carrinho{
  
  margin: 0;
}

section img{
  width: 30%;
  height: 500px;
  margin-right: 50px;
}
.valor{
  color: red;
  font-size: 25px;
}

.produto_item_1 {
  
  height: 420px;
  display: flex;
  flex-direction: column;
  
  justify-content: space-between;
  padding: 5px;
  margin: 10px;
  cursor: pointer;
 }
 .produto_item_1 img{
     margin:0;
     width: 100%;
     height: 350px;
 }
 .parcela{
    color: grey;
 }
 .preço{
   font-weight: bold;
 }

.m{
  background-color: blue;
}










@media (max-width:400px) {
  .search{
    
    width: 100%;
    margin: 10px 0px;
  }
  .container{
    width:97%;
  }
  .search input{
    width: inherit;
  }
  section{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
   
  }
  section img{
    width: 95%;
    height: 500px;
    margin-right: 0px;
    margin: auto;
  }
  .carregando{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: brown;
  }
}
